.Main {
    justify-content: center;
    margin: 2rem;
  }
  @media (min-width: 600px){
    .container {
      /* margin: 2rem; */
      width: 580px;
      background-image: linear-gradient(90deg, steelblue,steelblue, rgb(89, 169, 201),  rgb(11, 132, 148) );
      padding: 2rem;
      box-shadow:  7px 10px 12px -5px rgba(0,0,0,0.56);
    }
  }
  
  @media (max-width: 600px){
    .container {
      /* margin: 2rem; */
      width: 100%;
      background-image: linear-gradient(90deg, steelblue,steelblue, rgb(89, 169, 201),  rgb(11, 132, 148) );
      padding: 2rem;
      box-shadow:  7px 10px 12px -5px rgba(0,0,0,0.56);
    }
  }
  
  
  
  
  